	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-beach-umbrella-black-silhouette:before { content: "\f100"; }
.flaticon-beach-umbrella-for-protection-from-the-sun:before { content: "\f101"; }
.flaticon-boat-black-silhouette:before { content: "\f102"; }
.flaticon-building:before { content: "\f103"; }
.flaticon-building-of-antique-design-style-with-two-columns-and-triangular-roof-front:before { content: "\f104"; }
.flaticon-building-with-columns-and-rounded-roof:before { content: "\f105"; }
.flaticon-building-with-columns-and-triangular-roof:before { content: "\f106"; }
.flaticon-buildings:before { content: "\f107"; }
.flaticon-castle-black-shape:before { content: "\f108"; }
.flaticon-church-black-silhouette-with-a-cross-on-top:before { content: "\f109"; }
.flaticon-coconut-with-straw:before { content: "\f10a"; }
.flaticon-compass-for-orientation:before { content: "\f10b"; }
.flaticon-compass-for-orientation-1:before { content: "\f10c"; }
.flaticon-compass-of-circular-shape:before { content: "\f10d"; }
.flaticon-compass-tool-for-orientation:before { content: "\f10e"; }
.flaticon-compass-winds-star-symbol:before { content: "\f10f"; }
.flaticon-compass-with-winds-star:before { content: "\f110"; }
.flaticon-factory-building:before { content: "\f111"; }
.flaticon-factory-building-1:before { content: "\f112"; }
.flaticon-flag-map-marker:before { content: "\f113"; }
.flaticon-flag-map-marker-1:before { content: "\f114"; }
.flaticon-heart-map-marker:before { content: "\f115"; }
.flaticon-home:before { content: "\f116"; }
.flaticon-home-black-shape:before { content: "\f117"; }
.flaticon-home-building:before { content: "\f118"; }
.flaticon-home-front:before { content: "\f119"; }
.flaticon-home-of-birds:before { content: "\f11a"; }
.flaticon-home-outline-with-black-door-and-roof:before { content: "\f11b"; }
.flaticon-home-symbol:before { content: "\f11c"; }
.flaticon-map-black-folded-paper-shape:before { content: "\f11d"; }
.flaticon-map-flag-marker:before { content: "\f11e"; }
.flaticon-map-folded-paper:before { content: "\f11f"; }
.flaticon-map-folded-paper-of-three-parts-outline:before { content: "\f120"; }
.flaticon-map-folded-paper-outline:before { content: "\f121"; }
.flaticon-map-folded-paper-with-a-flag:before { content: "\f122"; }
.flaticon-map-grid-with-placeholder-interface-symbol:before { content: "\f123"; }
.flaticon-map-marker:before { content: "\f124"; }
.flaticon-map-marker-1:before { content: "\f125"; }
.flaticon-map-marker-2:before { content: "\f126"; }
.flaticon-map-marker-3:before { content: "\f127"; }
.flaticon-map-marker-4:before { content: "\f128"; }
.flaticon-map-marker-5:before { content: "\f129"; }
.flaticon-map-marker-6:before { content: "\f12a"; }
.flaticon-map-marker-of-original-shape:before { content: "\f12b"; }
.flaticon-map-marker-or-gross-speech-bubble-of-rectangular-rounded-shape:before { content: "\f12c"; }
.flaticon-map-marker-point:before { content: "\f12d"; }
.flaticon-map-marker-tool:before { content: "\f12e"; }
.flaticon-map-marker-variant-tool:before { content: "\f12f"; }
.flaticon-map-marker-with-a-person-shape:before { content: "\f130"; }
.flaticon-map-marker-with-two-arrows-pointing-opposite-directions:before { content: "\f131"; }
.flaticon-map-perspective-with-a-placeholder-on-it:before { content: "\f132"; }
.flaticon-map-pin:before { content: "\f133"; }
.flaticon-map-with-a-pin:before { content: "\f134"; }
.flaticon-map-with-pin:before { content: "\f135"; }
.flaticon-map-with-placeholder:before { content: "\f136"; }
.flaticon-palm-tree-shape:before { content: "\f137"; }
.flaticon-placeholder-tool:before { content: "\f138"; }
.flaticon-sailboat-black-silhouette:before { content: "\f139"; }
.flaticon-sunbathing:before { content: "\f13a"; }
.flaticon-sunbathing-1:before { content: "\f13b"; }
.flaticon-tower-of-town:before { content: "\f13c"; }
.flaticon-town-tower-building:before { content: "\f13d"; }