body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  color: #000;
}

.fullscreen{
  z-index: 9999; 
  width: 100%; 
  height: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background-color: white;
}

#content {
  padding-top: 110px;
}

#map {
  height: 500px;
}
#evaluationmap {
  height: 400px;
}
#mapviewer {
  height: 400px;
}
.curvesettings {
  position: absolute;
  right: 10px;
  top: 6px;
}
.headerpanel {
  border: 2px solid #EEE;
  border-radius: 10px;
  padding-left: 10px;
  color: #fff;
  background-color: #333;
  font-family: sans-serif;
  font-size: 26px;
}
.box {
  border: 2px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.panel {
  position: relative;
  min-height: 700px;
  border: 2px solid #EEE;
  border-radius: 10px;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.panel ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.title {
  font-weight: 600;
}
.source {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 50px;
}
.graph {
}
.selectpicker {
  height: 30px;
  border: 2px solid #EEE;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
}
.btn {
  color: #fff;
  height: 60px;
  font-size: 1.6em;
  width: 100%;
  white-space: normal;
  -webkit-appearance: none;
  border-radius: 10px;
  margin-bottom: 4px;
}
.btn-panel {
  background-color: #5688d8;
  line-height: 50px;
}
.btn-add {
  position: absolute;
  bottom: 0px;
  background-color: #555;
  line-height: 30px;
  height: 40px;
  width: 96%;
}

/* workaround for visualizations not rendering correctly hidden tabs */
.tab-pane {
  display: block !important;
  position: fixed;
  right: -9999px;
  width: 100%;
}
.tab-pane.active {
  position: relative;
  left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  position: relative;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid red;
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:  #aad400;
  color: white;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #aad400;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.disabled {
  pointer-events: none;
  opacity: 0.7 !IMPORTANT;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}