body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  color: #000;
  background-color: #ccc;
}
#map {
  height: 500px;
}
#evaluationmap {
  height: 400px;
}
#mapviewer {
  height: 400px;
}
.curvesettings {
  position: absolute;
  right: 10px;
  top: 6px;
}
.headerpanel {
  border: 2px solid #EEE;
  border-radius: 10px;
  padding-left: 10px;
  color: #fff;
  background-color: #333;
  font-family: sans-serif;
  font-size: 26px;
}
.box {
  border: 2px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.panel {
  position: relative;
  min-height: 700px;
  border: 2px solid #EEE;
  border-radius: 10px;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.title {
  font-weight: 600;
}
.source {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 50px;
}
.graph {
}
.selectpicker {
  height: 30px;
  border: 2px solid #EEE;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
}
.btn {
  color: #fff;
  height: 60px;
  font-size: 1.6em;
  width: 100%;
  white-space: normal;
  -webkit-appearance: none;
  border-radius: 10px;
  margin-bottom: 4px;
}
.btn-panel {
  background-color: #5688d8;
  line-height: 50px;
}
.btn-add {
  position: absolute;
  bottom: 0px;
  background-color: #555;
  line-height: 30px;
  height: 40px;
  width: 96%;
}