body {
  position: absolute;
  width:100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
}
#map {
  height: 500px
}
path {
  fill: none;
  stroke: #4682B4;
  stroke-opacity: 0.6;
  stroke-linecap: round;
  cursor: pointer;
}
path:hover {
  stroke-opacity: 0.8;
  stroke: #315B7E;
}
.curvesettings {
  position: absolute;
  right: 10px;
  top:6px;
}
.box {
  border: 1px solid #EEE;
  margin: 3px;
  padding: 5px;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.title {
  font-weight: 600;
}
.source {
  position: absolute;
  width: 50%;
  top: 6px;
  left: 50px;
}
.graph {
}
