.table {
    width: fit-content;
}

.table td:not(:first-child), .table th:not(:first-child){
    text-align: center;
}

.table th{
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.table td:not(:first-child) > div {
    margin: auto!important;
}

#comment-section {
    color: #fff;
    background: #ffffff;
    right: -155px;
    top: 0px;
    padding-top: 100px;
    position: fixed;
    height: 100%;
    z-index: 1040;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 0px 3px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

#comment-section:hover {
    right: 0px;
}

#comment-section button{
    /*float: right;*/
    border: 0px;
    margin-top: 20px;
}

#comment-section span{
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 10px;
}

.preview-item.selected{
    box-shadow: 0px 1px 6px 0px #aad400;
}
