/**
 * stylesheet for the data entry subpages
 *
 * @author Christoph Franke
 */

#balance-verify-data-btn,
#balance-data-btn,
#verify-data-btn,
#enter-data-btn,
#view-data-btn {
    width: 100%;
}

.admin-tab {
    border: 2px solid #e6e6e6;
}

/*#edit-node{
    min-height: 300px;
}*/

#upload-flows-button, #upload-actors-button{

/*    float: right;
    width: auto;
    margin-top: 10px;
    background-color: #aad400;
    border-width: 0px;*/
}

.nav-tabs li button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border: none;
}

.nav-tabs li.active button {
    display: block;
}

input.changed, select.changed {
    background-color: #e6f2ff;
}

tr.dsbld td{
    background-color: #ffe6e6 !IMPORTANT;
    opacity: 0.8;
}

#actors-table th, #products-table th, #publications-table th{
    color: white !IMPORTANT;
    background-color:  #aad400 !IMPORTANT;
}

/*tablesorter does a bad job with placing pager by default*/
#pager {
    top: 0px !IMPORTANT;
    position: relative !IMPORTANT;
}

#casestudy-warning, #keyflow-warning {
    display: none;
}

.ol-rotate {
  top: 3em;
}

.btn-upload{
    font-size: 18px
}

td button {
    padding: 0px 5px 0px 5px;
    margin-left: 3px;
    margin-right: 3px;
}

#flow-nodes-modal tr, #actors-table tr, #actor-select-modal td {
    cursor: pointer;
}

#bulk-upload .upload.row{
    min-height: 100px;
    padding-top: 30px;
}

#bulk-upload .upload.row label{
    /*float: left;*/
    margin-right: 20px;
    font-size: 1.5em;
}

#upload-log{
    width: 100%;
    height: 450px;
    resize: both;
    overflow: auto;
    white-space: nowrap;
}

#keyflow-related-upload, #casestudy-related-upload{
    width: 100%;
    height: 700px;
    resize: vertical;
    overflow-y: auto;
    white-space: nowrap;
}

#bulk-upload .upload.row input{
    /*float: right;*/
    display: inline;
    padding: 6px;
}

#bulk-upload .upload.row .count{
    float: right;
}

#bulk-upload .upload.row button{
    float: right;
    height: 35px;
    margin-right: 10px;
}

#bulk-upload .upload.row button span{
    pointer-events: none;
}

#bulk-upload .upload.row .row{
    padding: 0px;
}

.upload-column .alert-dismissible p{
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
