/**
 * stylesheet for draggable elements (muuri)
 *
 * @author Christoph Franke
 */

.grid {
  position: relative;
}
.item {
  height: 150px;
  width: 200px;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  display: block;
  position: absolute;
  /*width: 100px;*/
  /*height: 100px;*/
  /*margin: 5px;*/
  z-index: 1;
  /*background: #000;*/
  /*color: #fff;*/
}
.item.large {
  height: 450px;
  width: 300px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-panel > .muuri-item {
  margin: 10px;
  width: calc(100% - 20px);
}
.item-panel > .muuri-item:hover {
  margin: 7px;
  width: calc(100% - 14px);
}
.panel-item.muuri-item-releasing {
  z-index: 9998;
}
.panel-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
