.map{
    width: 1960px;
    height: 500px;
}
.country:hover{
    stroke: #7d7d7d;
    stroke-width: 0.5px;
}
div.sankeymaptooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 4px;
    font: 14px sans-serif;
    color: #111111;
    background: #fff;
    border: 0px;
    border-radius: 0px;
    pointer-events: none;
    z-index: 999999999999;
}

.mpoint:hover{
    stroke:white;
    stroke-width: 2px;
}

.route{
    fill: none;
}

.route:hover{
    stroke-width: 4px;
}

.arc path {
    stroke: #0fff;
}
