.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 20px;
}

.navbar-brand {
    position: relative;
    /*width: 300px;*/
    font-size: 2em;
    height: 75px;
    line-height: 45px;
    padding-left: 0px;
    z-index: 11;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-brand >img {
    /*width: 230px;*/
}

/*#language-select{
    float: right;
}*/

.navbar > .container {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.navbar-top {
    font-size: 1em;
    margin-top: -100px;
    margin-left: 50px;
}

.navbar-bottom {
    margin-top: 40px;
}

.navbar-bottom > li{
    z-index: 10;
    background-size:cover;
}

.navbar-bottom > li > a {
    color: #4c5867 !IMPORTANT;
    font-size: 1.5em;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding-top: 0px !IMPORTANT;
    padding-bottom: 0px !IMPORTANT;
    float: left;
}

.navbar-bottom > li:hover > a {
    color: #aad400 !IMPORTANT;
    transition: color 0.5s ease;
    font-size: 2em;
    transition: font-size 0.5s ease;
}

.navbar-bottom > li.active > a{
    font-size: 2em;
    /*text-decoration: underline;*/
}

.navbar-bottom > li.active > a, .navbar-top > li.active > a  {
    color: #aad400 !IMPORTANT;
    background-color: transparent !IMPORTANT;
    /*text-decoration: underline;*/
}

.menu-arrow{
    float: left;
    /*background-image: url("../img/menu-arrow-grey.png");*/
    /*background-size: cover;*/
    /*background-size: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/
    width: 40px;
    height: 50px;
    font-size: 1.5em;
    color: #4c5867;
    text-align: center;
    line-height: 50px;
}

.navbar-bottom > li.active > .menu-arrow, .navbar-bottom li:hover .menu-arrow {
    /*background-image: url("../img/menu-arrow-green.png");*/
    color: #aad400;
}

#casestudy-select .dropdown .btn{
    color: #4c5867;
    background-color: white;
    border: none;
    font-size: 1em;
    margin-top : -5px;
}

#casestudy-select .dropdown .active > a{
    background-color: #aad400;
}

/*.navbar-bottom > li:last-child { padding-left: 22px; }*/

.navbar .navbar-collapse {
    position: relative;
    width: 100%;
}

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-bottom > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    .menu-arrow{ visibility: hidden; }
}