/**
 * stylesheet for the sankey diagrams
 *
 * @author Christoph Franke
 */

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff;*/
}

.flowline {
  stroke-dasharray: 10, 4;
  animation: flow 1s linear infinite;
  -webkit-animation: flow 1s linear infinite;
}
@keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}

.link.selected, .cycleLink.selected {
    stroke-opacity: 1;
}

.cycleLink {
  fill: #600;
  opacity: .2;
  stroke: none;
  stroke-linejoin: "round";
}

.cycleLink:hover {
  opacity: .5;
}

.link:hover {
  stroke-opacity: .8;
}

.d3-tip h1 {
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 2px;
  width: 100%;
}
.d3-tip h2 {
  font-weight: bold;
  font-size: 12px;
  padding-right: inherit;
  padding-left: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0px;
}
.d3-tip h3 {
  font-weight: normal;
  font-size: 8px;
  margin: 0;
  padding: 0;
}
.d3-tip table {
  font-weight: normal;
  font-size: 12px;
  padding: none;
  margin: 0;
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.d3-tip td {
  padding-top: 2px;
  padding-bottom: 2px;
}
.d3-tip .col-left {
  padding-right: 8px;
}
.d3-tip .table-wrapper {
  margin: 0;
  padding: inherit;
  border: none;
}
.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 8px;
  background: white;
  color: black;
  border-radius: 2px;
  pointer-events: none;
  background:  white;
  box-shadow: 1px 1px 4px grey;
  z-index: 99999;
}

.d3-zoom-controls {
  position: absolute;
  left: 15px;
  top: 10px;
}

.d3-zoom-controls a {
  width: 30px;
  height: 30px;
  align-items: center;
  padding: 0px 0;
  font-size: 18px;
  line-height: 2.00;
  display: grid;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}
.sankey {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*position: relative;*/
}

