/**
 * stylesheet for the sankey diagrams
 *
 * @author Christoph Franke
 */

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff;*/
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}

.link.selected, .cycleLink.selected {
    stroke-opacity: 1;
    opacity: 1;
}

.cycleLink {
  fill: #600;
  opacity: .2;
  stroke: none;
  stroke-linejoin: "round";
}

.cycleLink:hover {
  opacity: .5;
}

.link:hover {
  stroke-opacity: .8;
}

.d3-zoom-controls {
  position: absolute;
  left: 10px;
  top: 50px;
}

.d3-zoom-controls a {
  width: 30px;
  height: 30px;
  align-items: center;
  padding: 0px 0;
  font-size: 18px;
  line-height: 2.00;
  display: grid;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  color: #333333;
}

.d3-zoom-controls a:hover {
  border: 1px solid #aad400;
}

.sankey {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*position: relative;*/
}

