.row{
    margin-left:0px;
    margin-right:0px;
    padding: 4px;
}

#wrapper {
    padding-left: 60px;
    transition: all .4s ease 0s;
    height: 100%;
}


#sidebar-wrapper {
    color: #fff;
    left: -190px;
    top: 0px;
    padding-top: 95px;
    width: 250px;
    background: #ffffff;
    border-right: 1px solid #e6e6e6;
    position: fixed;
    height: 100%;
    transition: all .4s ease 0s;
    z-index: 10;
}

#sidebar-wrapper:hover, #sidebar-wrapper.active{
    background #999;
    left: 0px;
}

#page-content-wrapper {
    padding: 5px;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

#sidebar {
    display: block;
    float: left;
    width: 100%;
    text-decoration: none;
    font-size: 1.2em;
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 60px;
    text-indent: 20px;
}

#sidebar li a {
    color: #999;
    display: block;
    border: 2px solid #fff;
    /*border-radius: 10px;*/
    margin-top: 20px;
}

#sidebar li.active a, #sidebar li.active a:hover {
    color: #fff;
    background: #aad400;
    text-decoration: none;
}

#sidebar li a:hover {
    border-style: solid;
    border-color: #aad400;
    background-color: transparent;
}

#slide-icon
{
    color: #999;
    float: right;
    padding: 50px 5px 30px 0px;
    font-size: 1.5em;
}

.sub-icon
{
    float: right;
    padding-right: 0px;
    padding-top: 10px;
    font-size: 2em;
}
.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

