/**
  * stylesheet for the status quo subpages
  *
  * @author Christoph Franke
  */

.materialSelect a{
  font-weight: bold!important;
}
.materialSelect a.empty {
  color: lightgrey!important;
  font-weight: normal!important;
}
.materialSelect a.half {
  font-weight: normal!important;
}
