.scheme-preview{
    width: 30%;
    cursor: pointer;
    float: left;
    border: 1px solid grey;
    white-space: initial;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
}

.scheme-preview:hover, .scheme-preview.selected{
    background: #aad400;
    color:white;
}

.scheme-preview > img{
    width: 100%;
    background: white;
    border-radius: 5px;
}

.scheme-preview > label{
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#selected-scheme-image {
    width: 100%;
}
