#base-map {
    min-height: 600px; 
    width: 100%; 
    height: 100%;
}

#layer-tree.workshop {
    left: 10px; 
    z-index: 1000; 
    float: left; 
    position: absolute; 
    top: 80px;
}

#legend {
    overflow: auto; 
    max-height: 600px; 
}

#legend.workshop {
    position: absolute; 
    right: 10px; 
    z-index: 1000; 
    top: 50px; 
    max-height: 50%; 
    background: white; 
    border-radius: 5px; 
    padding: 0px;
}

#legend.workshop>.row {
    cursor: pointer; 
    background: #aad400; 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#legend.workshop>.row>button{
    margin-right: 10px; 
    float: left; 
    margin-top: 8px;
}

#legend.workshop>.row>h4{
    float: left; 
}

#layer-tree-buttons {
    position: relative; 
    display: None; 
    float: right; 
    margin-right: 10px; 
    z-index: 100;
}

#layer-z-index {
    max-width: 30px; 
    font-size: 10px; 
    text-align: center;
}