.target-table {
    margin: 20px;
}

.target-table th {
    min-width: 200px;
}

.target-table tr {
    border-bottom: 1px solid lightgrey;
}

.target-table tr:first-child, .target-table tr:last-child {
    border-bottom: 0px;
}

.target-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.target-table td:last-child {
    border-bottom: 1px solid white;
}

.target-table btn.remove {
    margin-left: 15px;
}

.objective-panel .overlay{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #aad400;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: white;
    font-family: 'Roboto', 'sans-serif';
    /*font-size: 1.5em;*/
}


